#container{
    width: 660px;
    height: 660px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    object-fit: cover;
    /* overflow: hidden; */
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 1s;
}
img:hover{
    transform: scale(1.2);
}
