a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: teal;
    text-decoration: underline;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: ghostwhite;
    text-align: justify;
}
#container{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 50px 50px 50px 50px;
    line-height: 2;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    font-weight: 500;
}
.phandau{
    border-bottom: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
}
.phangiua{
    padding: 15px 0 15px 0;
    line-height: 1;
}
.phancuoi{
    background-color:#FFFF66;
    line-height: 1.5;
}
.anh{
    text-align: center;
    line-height: 1;
}
.doanvan{
    line-height: 1.5;
}
.danhsach{
    padding-left: 30px;
}
.huongdan{
    font-size: 32px;
}
.italic{
    font-style: italic;
}